.box1{
    width:200px;
    height:200px;
    background-color:chartreuse;
    animation: moveBox 6s infinite;
}
@keyframes moveBox {
    0% {
      transform: translateX(0);
    }
    25% {
        transform: translateX(25px); 
      }
    50% {
      transform: translateX(50px); 
    }
    75%{
        transform:translateX(75px);
    }
    100% {
      transform: translateX(100px); 
    }
}